<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_category.name %>
</p>

<p>
  <strong>Parent category:</strong>
  <%= @product_category.parent_category.name if @product_category.parent_category %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
